<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="medical.Properties.Settings.connectionString" connectionString="Server=.;Database=medical;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>